
<!-- <div class="DSA_mainwrapper DSA_mainwrapperLogin" (window:resize)="onResize($event)" id="loginCnt"> -->
    <div class="DSA_mainwrapper DSA_mainwrapperLogin " id="loginCnt">
    <div class="DSA_pageoverlay loginBackground" id="DSA_pageoverlay">

        <div class="vertical-center text-center">
            <img src="../../assets/images/logo.png" class="img-fluid pb-4" width="100" height="50">
            <h6 class="text-white text-center">Epidemic surveillance suite v 1.0</h6>
        </div>
        
        <!-- Form -->
        <div class="DSA_loginMid clearfix">
            
            <div class="DSA_loginCtr" id="DSA_pageMidpanel">
 
                <!-- <form [formGroup]="loginForm" (ngSubmit)="signin()" class="signin-form"> -->
                <form [formGroup]="loginForm" >

                <h1 class="DSA_wb_displayText DSA_loginMAr">Log In</h1>

                <mat-form-field class="DSA_Wb_custom-form-field">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="userName" placeholder="Enter user name">
                    <!-- <span matSuffix>@infosys.com</span> -->
                    <mat-error *ngIf="loginForm.controls.userName.errors.required">
                        Username is Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="DSA_Wb_custom-form-field marT24">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="Enter password">
                    <!-- <mat-icon matSuffix></mat-icon> -->
                    <mat-error *ngIf="loginForm.controls.password.errors.required">
                        Password is Required
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button class="DSA_wb_primary-btn DSA_width100 marT16"
                    (click)="signin()">Log In
                </button>

                <div class="clearfix marT24 marB8">
                    <a 
                        href="#" 
                        class="float-left DSA_wb_mainBodyTxt2 DSA_purpleLink"
                        (click)="forgotPassword()">Forgot Password?
                        
                    </a>
                    
                    <!-- resigter feature not needed -->
                    <!-- <span class="float-right DSA_wb_mainBodyTxt2 web-GreyDarkest">
                        New User? 
                        <a href="#" class="DSA_purpleLink" (click)="registerhere()">Register</a>
                    </span> -->
                </div>
                

                <div class="DSA_wb_caption marT32 web-GreyLight">Copyright © 2020 Infosys Limited</div>
                
                </form>
            </div>
        </div>
    </div>
</div>