.loginBackground{
    // background: url('../../assets/images/corona.png') no-repeat;
    background-size: cover;
    // height: 100%;
      background-image:
      url('../../assets/images/loginBackground.png');
      background-attachment: fixed;
      background-position: center;
      min-height: 100vh;
      display: grid;
      align-items: center;
      padding: 2rem 0;
    //   opacity: 0.5;
    //   background-color: rgba(134,38,195,0.5);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 200px;
  }
