<div class="clearfix DSA_mainCtr ctr_main" id="mainCtr">

    <div class="container-fluid">

        <div class="DSA_rightMainContent nomarL_mb" id="mainrightCnt">
            <div class="DSA_innerContentWrapper ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="DSA_contentLeftCol">
                            <h1 class="DSA_wb_h1Header marB32 mainlabel">Dashboard</h1>
                            <div class="row">
                                <div _ngcontent-ccl-c0="" class="col-lg-12">
                                    <mat-card class="pendingcard DSA_wb_card-widget DSA_card-square DSA_square-lg">
                                        <mat-card-content>
                                            <div class="DSA_wb_title marB16 web-SecondaryRed">09</div>
                                            <span class="DSA_wb_mainBodyTxt web-GreyDarkest d-block marB4">Assigned
                                                cases</span>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="DSA_wb_card-widget DSA_card-square DSA_square-lg">
                                        <mat-card-content>
                                            <div class="DSA_wb_title marB16 web-SecondaryYellow">02</div>
                                            <span class="DSA_wb_mainBodyTxt web-GreyDarkest d-block marB4">Assigned
                                                contacts</span>
                                        </mat-card-content>
                                    </mat-card> 
                                    <mat-card class="DSA_wb_card-widget DSA_card-square DSA_square-lg">
                                        <mat-card-content>
                                            <div class="DSA_wb_title marB16 web-SecondaryYellow">02</div>
                                            <span class="DSA_wb_mainBodyTxt web-GreyDarkest d-block marB4">Cases under
                                                investigation</span>
                                        </mat-card-content>
                                    </mat-card>                                      
                                    <mat-card class="DSA_wb_card-widget DSA_card-square DSA_square-lg">
                                        <mat-card-content>
                                            <div class="DSA_wb_title marB16 web-SecondaryYellow">02</div>
                                            <span class="DSA_wb_mainBodyTxt web-GreyDarkest d-block marB4">Cases
                                                under monitoring</span>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="pendingcard DSA_wb_card-widget DSA_card-square DSA_square-lg">
                                        <mat-card-content>
                                            <div class="DSA_wb_title marB16 web-SecondaryRed">09</div>
                                            <span class="DSA_wb_mainBodyTxt web-GreyDarkest d-block marB4">Cases
                                                on-hold</span>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="closedcard DSA_wb_card-widget DSA_card-square DSA_square-lg">
                                        <mat-card-content>
                                            <div class="DSA_wb_title marB16 web-SecondaryGreen">09</div>
                                            <span class="DSA_wb_mainBodyTxt web-GreyDarkest d-block marB4">Cases
                                                closed</span>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-12">

                                    <div class="DSA_panel ">
                                        <h1 class="DSA_wb_h1Header marB32 mainlabel assign">My Assignments</h1>
                                        <div class="DSA_wb_customTab DSA_navTabWhite DSA_wb_Secondary">
                                            <mat-tab-group disableRipple>
                                                <mat-tab>
                                                    <ng-template mat-tab-label>
                                                        Cases
                                                    </ng-template>
                                                </mat-tab>
                                                <mat-tab>
                                                    <ng-template mat-tab-label>
                                                        Contacts
                                                    </ng-template>
                                                </mat-tab>

                                            </mat-tab-group>
                                        </div>
                                        <table class="DSA_wb_custom-table">
                                            <thead>
                                                <tr>
                                                    <th>Case ID</th>
                                                    <th class="th_sort">Name<i class="icon x-16 down-arw-icon"></i>
                                                    </th>
                                                    <th>Language</th>
                                                    <th>County</th>
                                                    <th>Investigation Status</th>
                                                    <th>Last Monitored</th>
                                                    <th>Contacts</th>
                                                    <th>Risk Level</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor = "let case of casemanagedata">
                                                    <td>{{case.contactId}}</td>
                                                    <td>
                                                        <div>
                                                            <img src="assets/images/avatar-mini-01.png" alt=""
                                                                class="float-left avatar-mini" />
                                                            <div>
                                                                <a (click)="openModal(viewCertificateModal,case)" class="DSA_wb_hyperLink-btn">{{case.name}}</a>
                                                            </div>
                                                            {{case.gender}}, {{case.age}}
                                                        </div>
                                                    </td>
                                                    <td >{{case.language}}</td>
                                                    <td>Queens</td>
                                                    <td>{{case.investigationStatus}}</td>
                                                    <td>23-78-9292</td>
                                                    <td>15</td>
                                                    <td><span class="DSA_wb_chipStyle DSA_closedchip">High</span>
                                                    </td>
                                                    <td>
                                                        <!-- <i class="icon x-24 purple call-icon"> </i> -->
                                                        <i class="icon x-24 purple search-icon" (click)="openInvestigate()"> </i>
                                                        <i class="icon x-24 purple show-icon"> </i>
                                                        <i class="icon x-24 purple download-icon"> </i></td>
                                                </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal to show the tracer profile -->

<ng-template #viewCertificateModal let-modal>
    <div class="modal-header">
        <div class="clearfix">
            <p><img src="assets/images/avatar-mini-01.png" class="float-left avatar-mini" /></p>
            <h4 class="DSA_wb_h2Header float-left tracerName">{{traceName}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="icon x-16 close-icon"> </i>
            </button>
        </div>
        <p class="DSA_mainBodyTxt4 tracerGender">{{tracerGender}}</p>
    </div>
    <div class="modal-body textcenter">
        <div class="container col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <span style="font-size:14px">Language</span><br>
                     <span style="font-size:15px"><b>{{tracerLanguage}}</b></span>
                </div>
                <div class="col-md-4">
                    <span style="font-size:14px">Date of Birth</span><br>
                    <span style="font-size:15px"><b>{{tracerDob}}</b></span>
                </div>
                <div class="col-md-4">
                    <span style="font-size:14px">Contact Number</span><br>
                    <span style="font-size:15px"><b>{{tracerPrimaryContactNumber}}</b></span>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-md-4">
                    <span style="font-size:14px">Country</span><br>
                    <span style="font-size:15px"><b>{{tracerCountry}}</b></span>
                </div>
                <div class="col-md-4">
                    <span style="font-size:14px">Zip code</span><br>
                    <span style="font-size:15px"><b>{{tracerZip}}</b></span>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-md-4">
                    <span style="font-size:14px">Address</span><br>
                    <span style="font-size:15px"><b>{{tracerAddress}}</b></span>
                </div>
            </div>
        </div>
    </div>
</ng-template>

