.DSA_wb_card-widget.DSA_card-square.DSA_square-lg{
    margin-right: 20px;
    margin-bottom: 20px;
}
.mainlabel{
    font-size:24px;    
}
.assign{
    padding: 20px;
}
.DSA_wb_custom-table{
    margin-top: 30px;
}
.pendingcard{
    padding-bottom:38px;
}
.closedcard{
    padding-bottom:39px;
}
.iconImage{
    margin-left: 5px;
}