<mat-horizontal-stepper #stepper disableRipple="true" class="DSA_stepperCtr padT16">
    <ng-template matStepperIcon="done">
        <i class="icon x-24 icon-tick-dark green"></i>
    </ng-template>
    <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
    </ng-template>

    <mat-step label="21-5-2020">
        <!--[editable]="false" [completed]="true">-->
        <form class="marT16">

        </form>
    </mat-step>
    <mat-step label="22-5-2020">
        <form class="marT16">

        </form>
    </mat-step>
    <mat-step label="23-5-2020">
        <form class="marT16">

        </form>
    </mat-step>
    <mat-step label="24-5-2020">
        <form class="marT16">

        </form>
    </mat-step>
    <mat-step label="25-5-2020">
        <form class="marT16">

        </form>
    </mat-step>
    <mat-step label="26-5-2020">
        <form class="marT16">

        </form>
    </mat-step>
    <mat-step label="27-5-2020">
        <form class="marT16">

        </form>
    </mat-step>
    <mat-step label="28-5-2020">
        <form class="marT16">

        </form>
    </mat-step>
    <mat-step label="29-5-2020">
        <form class="marT16">

        </form>
    </mat-step>
</mat-horizontal-stepper>
<div class="clearfix DSA_mainCtr ctr_main" id="mainCtr">

    <div class="container-fluid">

        <div class="DSA_rightMainContent nomarL_mb" id="mainrightCnt">
            <div class="DSA_innerContentWrapper ">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="DSA_contentLeftCol">
                            <h1 class="DSA_wb_h1Header marB32 mainlabel">Monitoring on 21-05-2020</h1>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div _ngcontent-jnd-c26="" class="col-lg-8">
                                    <div _ngcontent-jnd-c26="" class="DSA_panel ">
                                        <div _ngcontent-jnd-c26="" class="DSA_panelBody padTB16 padLR24">
                                            <div _ngcontent-jnd-c26="" class="row">

                                                <div class="col-lg-12">
                                                    <div class="DSA_Wb_custom-checkbox marT32 d-inline-block"
                                                        aria-label="checkbox" disableRipple="true">Please select the
                                                        options as provided by Graham to complete monitoring</div>
                                                </div>
                                                <div class="pad16 col-lg-12 marT32">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        1. Fever >400.F(38C)</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div>
                                                    <hr>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        2. Subjective fever (felt feverish)</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        3. Chills</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        4. Rigors</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        5. Muscle aches (myalgia)</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        6. Runny nose(rhinorrhea)</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        7. Soar throat</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        8. New olfactory and taste disorder(s)</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        9. Headache</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        10. Fatique</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        11. Cough (new onset or worsening of chronic cough)</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        12. Wheezing</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        13. Shortness of breath (dyspnea)</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        14. Difficulty breathing</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        15. Chest pain</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        16. Nausea or vomitting</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        17. Abdominal pain</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        18. Diarrhea (>=3 loose stools/24hr period)</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        19. Hospitalization</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        20. ICU Admission</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="pad16 col-lg-12">
                                                    <h4 class="DSA_h4Header GreyDarkest DSA_text-1line marB4">
                                                        21. ER Admission</h4>
                                                    <div class="pad8">
                                                        <mat-radio-group class="DSA_Wb_custom-radio"
                                                            aria-label="Select an option">
                                                            <mat-radio-button value="1" disableRipple="true">Yes
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">No
                                                            </mat-radio-button>
                                                            <mat-radio-button value="2" disableRipple="true">Unknown
                                                            </mat-radio-button>
                                                        </mat-radio-group>
                                                    </div>
                                                </div>
                                                <div class="submitbtn pad16 col-lg-12">
                                                    <button mat-flat-button class="DSA_wb_primary-btn">Submit
                                                        Recording</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div _ngcontent-jnd-c26="" class="col-lg-4">
                                    <mat-card _ngcontent-jnd-c26="" class="DSA_card-widget mat-card">
                                        <mat-card-header _ngcontent-jnd-c26="" class="mat-card-header">

                                            <mat-card-title class="DSA_flex mat-card-title">
                                                <div class="float-left">
                                                    <img class="avatarImageCircle avatarImageinvest"
                                                        src="assets/images/homeAvatar.png" />
                                                </div>
                                                <div class="row">
                                                    <div>
                                                        <div class="DSA_wb_h2Header web-GreyDarkest padL32">Graham joy
                                                        </div>
                                                        <div class="DSA_wb_caption web-GreyLight marT4 padT8 marL32">
                                                            Male 30</div>
                                                            <div style="display:flex" class="marT16">
                                                                <i class="icon x-24 call-icon marR8"> </i>
                                                                <i class="icon x-24 icon_whatsapp marR8"> </i>
                                                            </div>
                                                    </div>
                                                    
                                                </div>
                                            </mat-card-title>
                                            <mat-card-subtitle
                                                class="mat-card-subtitle DSA_mainBodyTxt4 GreyLight DSA_text-1line mat-card-subtitle">

                                            </mat-card-subtitle>

                                        </mat-card-header>

                                        <hr>
                                        <mat-card-actions _ngcontent-jnd-c26="" class="marT8 marB4 mat-card-actions marL32">
                                            <div style="display:flex;">
                                                <div class="marR32 padR32">
                                                    <div class="DSA_wb_caption web-GreyLight marT4">Language</div>
                                                    <div class="DSA_wb_mainBodyTxtSM web-GreyDarkest padT8">English
                                                    </div>
                                                </div>
                                                <div class="marR32 padR32">
                                                    <div class="DSA_wb_caption web-GreyLight marT4">County</div>
                                                    <div class="DSA_wb_mainBodyTxtSM web-GreyDarkest padT8">Prudence
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="display:flex;" class="marT32">
                                                <div class="marR32 padR32">
                                                    <div class="DSA_wb_caption web-GreyLight marT4">Risk Level</div>
                                                    <div class="DSA_wb_mainBodyTxtSM web-GreyDarkest padT8">High</div>
                                                </div>
                                                <div class="marR32 padR32">
                                                    <div class="DSA_wb_caption web-GreyLight marT4">Investigation Status
                                                    </div>
                                                    <div class="DSA_wb_mainBodyTxtSM web-GreyDarkest padT8">Investion
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="marR32 padR32 marT32">
                                                <div class="DSA_wb_caption web-GreyLight marT4">Contact Number</div>
                                                <div class="DSA_wb_mainBodyTxtSM web-GreyDarkest padT8">874-523-6914
                                                </div>
                                            </div>
                                        </mat-card-actions>
                                    </mat-card>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>